

    

.banner{
    background-image:url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
    text-align: center;
    
}
.first-line{
color:rgba(78, 71, 255, 1) ;
font-weight: 800;

}
.button{
    background-color: #4E47FF;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    border: none;

}
.top{
    display: flex;
    justify-content:space-between;
    margin: 30px 40px;
    
}
.main-text{
    font-weight:bold;
    justify-content: center;
font-size: 64px;
text-wrap:;
width: 975px;
height: 152px;
}
.banner[flower]{
    text-align: center;
    margin-top: 154px;
    margin-bottom: 200px;
}
.class-head{
    font-size:42px;
    font-weight: bold;
}
.zero{
    color:rgba(37, 36, 50, 0.5);
}
.apple{
    background-color:white;
    width: 1140px;
    height:328px ;
    display: flex;
    justify-content: space-between;
    margin:100px 0px 0px 140px ;
}

.photo{
    width: 403px; 
    height: 328px;
    border-radius: 7px;
} 
.world{
    display: flex;
    gap: 158px;
    justify-content: center;
    padding: 50px 80px 50px 80px ;
}
.pop{
    background-color:rgba(78, 71, 255, 0.1) ;
    width: 1140px;
    height: 306;
    border-radius: 7px;
    text-align: center;
    margin: 70px 150px 50px 150px;
}
.number{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
}
.comment{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5) ;
}

.view{
    font-size:38px ;
    font-weight:bold ;
    justify-content: center;
    padding:50px ;
}
.head-03{
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    width: 120%;
}
.book{
    text-align: center;
    justify-content: center;
    width: 1140px;
    height: 670px;
    font-weight:20%;
    border-radius: 7px;;
    margin:70px 150px 70px 150px ;
    background-color: rgb(211, 229, 244);

}
.lotus{
    width:840px ;
    height: 365px;
    border-radius: 7px;
}
.book[div]{
    gap: 20px;
}
#x{
    color: rgba(0, 0, 0, 0.5);
}
.section{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height:632px ;
    background-color: rgb(191, 245, 245);
    border-radius: 5px;
    margin:70px 150px 50px 150px ;
}
#moon{
    width: 528px;
    height: 232px;
    align-items: center;
    font-weight: bold;
    font-size: 97px;
    color: black;
    margin-left: 130px;
    margin-top: 120px;
}.pen{
    width: 497px;
    height: 70px;
    background-color: aliceblue;
    margin-right: 150px;
    padding-top:;
    border: none;
}
#pencil{
     width: 497px;
    height: 140px;
    background-color: aliceblue;
    margin-right: 150px;
    border: none;

}
.container{
    margin-top: 100px;
}
.footer{
    width: 1440px;
    height: 428px;
    background-color: rgb(184, 245, 245);
    border-radius: 5px;
    margin: 150px 150px 150px 150px;
}

.footer-title{
    font-size:100px;
    color: #4E47FF;

}
.last{
    display: flex;
    justify-content: space-between;
}